In [2]:
import pandas as pd

In [3]:
df_p = pd.read_csv('C:/Users/Пользователь/Desktop/Python/Pandas_ данные для курса/Products.csv', sep = ';')
df_c = pd.read_csv('C:/Users/Пользователь/Desktop/Python/Pandas_ данные для курса/Customers.csv', sep = ';')
df_o = pd.read_csv('C:/Users/Пользователь/Desktop/Python/Pandas_ данные для курса/Orders.csv', sep = ';')
df_od = pd.read_csv('C:/Users/Пользователь/Desktop/Python/Pandas_ данные для курса/Order_details.csv', sep = ';')
df_e = pd.read_excel('C:/Users/Пользователь/Desktop/Python/Pandas_ данные для курса/Employees.xlsx')

In [4]:
df_e

,EmployeeID,FirstName,LastName,Title,TitleOfCourtesy,BirthDate,HireDate,Address,HomePhone
0,1,Nancy,Davolio,Sales Representative,Ms.,1948-12-08 00:00:00.000,1992-05-01 00:00:00.000,507 - 20th Ave. E. Apt. 2A,(206) 555-9857
1,2,Andrew,Fuller,"Vice President, Sales",Dr.,1952-02-19 00:00:00.000,1992-08-14 00:00:00.000,908 W. Capital Way,(206) 555-9482
2,3,Janet,Leverling,Sales Representative,Ms.,1963-08-30 00:00:00.000,1992-04-01 00:00:00.000,722 Moss Bay Blvd.,(206) 555-3412
3,4,Margaret,Peacock,Sales Representative,Mrs.,1937-09-19 00:00:00.000,1993-05-03 00:00:00.000,4110 Old Redmond Rd.,(206) 555-8122
4,5,Steven,Buchanan,Sales Manager,Mr.,1955-03-04 00:00:00.000,1993-10-17 00:00:00.000,14 Garrett Hill,(71) 555-4848
5,6,Michael,Suyama,Sales Representative,Mr.,1963-07-02 00:00:00.000,1993-10-17 00:00:00.000,Coventry House Miner Rd.,(71) 555-7773
6,7,Robert,King,Sales Representative,Mr.,1960-05-29 00:00:00.000,1994-01-02 00:00:00.000,Edgeham Hollow Winchester Way,(71) 555-5598
7,8,Laura,Callahan,Inside Sales Coordinator,Ms.,1958-01-09 00:00:00.000,1994-03-05 00:00:00.000,4726 - 11th Ave. N.E.,(206) 555-1189
8,9,Anne,Dodsworth,Sales Representative,Ms.,1966-01-27 00:00:00.000,1994-11-15 00:00:00.000,7 Houndstooth Rd.,(71) 555-4444

In [5]:
df_e['Title']

0        Sales Representative
1       Vice President, Sales
2        Sales Representative
3        Sales Representative
4               Sales Manager
5        Sales Representative
6        Sales Representative
7    Inside Sales Coordinator
8        Sales Representative
Name: Title, dtype: object

In [7]:
pd.DataFrame({'Title': df_e['Title'], 'Title2': df_e['Title']})

                      Title                    Title2
0      Sales Representative      Sales Representative
1     Vice President, Sales     Vice President, Sales
2      Sales Representative      Sales Representative
3      Sales Representative      Sales Representative
4             Sales Manager             Sales Manager
5      Sales Representative      Sales Representative
6      Sales Representative      Sales Representative
7  Inside Sales Coordinator  Inside Sales Coordinator
8      Sales Representative      Sales Representative

In [9]:
# Списки - уникальное обращение
df_e['TitleOfCourtesy'].unique()

array(['Ms.', 'Dr.', 'Mrs.', 'Mr.'], dtype=object)

In [13]:
# Обращения и пол
df_sex = pd.DataFrame({'TitleOfCourtesy': ['Ms.', 'Dr.', 'Mrs.', 'Mr.'], 'Sex': ['Female', 'Male', 'Female', 'Male']})

In [19]:
# Присоединим к таблице с сотрудниками
df_sex.merge(df_e)

,TitleOfCourtesy,Sex,EmployeeID,FirstName,LastName,Title,BirthDate,HireDate,Address,HomePhone
0,Ms.,Female,1,Nancy,Davolio,Sales Representative,1948-12-08 00:00:00.000,1992-05-01 00:00:00.000,507 - 20th Ave. E. Apt. 2A,(206) 555-9857
1,Ms.,Female,3,Janet,Leverling,Sales Representative,1963-08-30 00:00:00.000,1992-04-01 00:00:00.000,722 Moss Bay Blvd.,(206) 555-3412
2,Ms.,Female,8,Laura,Callahan,Inside Sales Coordinator,1958-01-09 00:00:00.000,1994-03-05 00:00:00.000,4726 - 11th Ave. N.E.,(206) 555-1189
3,Ms.,Female,9,Anne,Dodsworth,Sales Representative,1966-01-27 00:00:00.000,1994-11-15 00:00:00.000,7 Houndstooth Rd.,(71) 555-4444
4,Dr.,Male,2,Andrew,Fuller,"Vice President, Sales",1952-02-19 00:00:00.000,1992-08-14 00:00:00.000,908 W. Capital Way,(206) 555-9482
5,Mrs.,Female,4,Margaret,Peacock,Sales Representative,1937-09-19 00:00:00.000,1993-05-03 00:00:00.000,4110 Old Redmond Rd.,(206) 555-8122
6,Mr.,Male,5,Steven,Buchanan,Sales Manager,1955-03-04 00:00:00.000,1993-10-17 00:00:00.000,14 Garrett Hill,(71) 555-4848
7,Mr.,Male,6,Michael,Suyama,Sales Representative,1963-07-02 00:00:00.000,1993-10-17 00:00:00.000,Coventry House Miner Rd.,(71) 555-7773
8,Mr.,Male,7,Robert,King,Sales Representative,1960-05-29 00:00:00.000,1994-01-02 00:00:00.000,Edgeham Hollow Winchester Way,(71) 555-5598

В разрезе пола посчитайте количество оформленных заказов. На сколько представители одного пола оформили больше заказов, чем представители другого пола?

In [24]:
df_1 = df_e.merge(df_sex).merge(df_o[['OrderID','EmployeeID']])

In [25]:
df_sex_OrderID = df_1[['Sex','OrderID']]

In [26]:
b = df_sex_OrderID.groupby('Sex').OrderID.count().reset_index()
b['OrderID'].max() - b['OrderID'].min()

276