In [25]:
import pandas as pd

In [26]:
df_p = pd.read_csv('C:/Users/Пользователь/Desktop/Python/Pandas_ данные для курса/Products.csv', sep = ';')
df_c = pd.read_csv('C:/Users/Пользователь/Desktop/Python/Pandas_ данные для курса/Customers.csv', sep = ';')
df_o = pd.read_csv('C:/Users/Пользователь/Desktop/Python/Pandas_ данные для курса/Orders.csv', sep = ';')
df_od = pd.read_csv('C:/Users/Пользователь/Desktop/Python/Pandas_ данные для курса/Order_details.csv', sep = ';')
df_e = pd.read_excel('C:/Users/Пользователь/Desktop/Python/Pandas_ данные для курса/Employees.xlsx')

In [27]:
df_p.head()

,ProductID,ProductName,Product_Description,UnitPrice,CategoryID,CategoryName,Category_Description
0,1,Chai,10 boxes x 20 bags,18.00,1,Beverages,Soft drinks. coffees. teas. beers. and ales
1,2,Chang,24 - 12 oz bottles,19.00,1,Beverages,Soft drinks. coffees. teas. beers. and ales
2,3,Aniseed Syrup,12 - 550 ml bottles,10.00,2,Condiments,Sweet and savory sauces. relishes. spreads. an...
3,4,Chef Anton's Cajun Seasoning,48 - 6 oz jars,22.00,2,Condiments,Sweet and savory sauces. relishes. spreads. an...
4,5,Chef Anton's Gumbo Mix,36 boxes,21.35,2,Condiments,Sweet and savory sauces. relishes. spreads. an...

In [28]:
# Сортировка по возрастанию
df_p['CategoryName'].sort_values()

0     Beverages
74    Beverages
69    Beverages
66    Beverages
42    Beverages
        ...
39      Seafood
40      Seafood
45      Seafood
17      Seafood
9       Seafood
Name: CategoryName, Length: 77, dtype: object

In [29]:
# Вывести весь датафрейм с сортировкой по возрастанию
df_p.sort_values('CategoryName')

,ProductID,ProductName,Product_Description,UnitPrice,CategoryID,CategoryName,Category_Description
0,1,Chai,10 boxes x 20 bags,18.00,1,Beverages,Soft drinks. coffees. teas. beers. and ales
74,75,Rhonbrau Klosterbier,24 - 0.5 l bottles,7.75,1,Beverages,Soft drinks. coffees. teas. beers. and ales
69,70,Outback Lager,24 - 355 ml bottles,15.00,1,Beverages,Soft drinks. coffees. teas. beers. and ales
66,67,Laughing Lumberjack Lager,24 - 12 oz bottles,14.00,1,Beverages,Soft drinks. coffees. teas. beers. and ales
42,43,Ipoh Coffee,16 - 500 g tins,46.00,1,Beverages,Soft drinks. coffees. teas. beers. and ales
...,...,...,...,...,...,...,...
39,40,Boston Crab Meat,24 - 4 oz tins,18.40,8,Seafood,Seaweed and fish
40,41,Jack's New England Clam Chowder,12 - 12 oz cans,9.65,8,Seafood,Seaweed and fish
45,46,Spegesild,4 - 450 g glasses,12.00,8,Seafood,Seaweed and fish
17,18,Carnarvon Tigers,16 kg pkg.,62.50,8,Seafood,Seaweed and fish
9,10,Ikura,12 - 200 ml jars,31.00,8,Seafood,Seaweed and fish

In [30]:
# Стоимость по убыванию
df_p.sort_values('UnitPrice', ascending = False)

,ProductID,ProductName,Product_Description,UnitPrice,CategoryID,CategoryName,Category_Description
37,38,C?te de Blaye,12 - 75 cl bottles,263.50,1,Beverages,Soft drinks. coffees. teas. beers. and ales
28,29,Th?ringer Rostbratwurst,50 bags x 30 sausgs.,123.79,6,Meat/Poultry,Prepared meats
8,9,Mishi Kobe Niku,18 - 500 g pkgs.,97.00,6,Meat/Poultry,Prepared meats
19,20,Sir Rodney's Marmalade,30 gift boxes,81.00,3,Confections,Desserts. candies. and sweet breads
17,18,Carnarvon Tigers,16 kg pkg.,62.50,8,Seafood,Seaweed and fish
...,...,...,...,...,...,...,...
53,54,Tourtiere,16 pies,7.45,6,Meat/Poultry,Prepared meats
51,52,Filo Mix,16 - 2 kg boxes,7.00,5,Grains/Cereals,Breads. crackers. pasta. and cereal
12,13,Konbu,2 kg box,6.00,8,Seafood,Seaweed and fish
23,24,Guaran? Fant?stica,12 - 355 ml cans,4.50,1,Beverages,Soft drinks. coffees. teas. beers. and ales
32,33,Geitost,500 g,2.50,4,Dairy Products,Cheeses

In [31]:
# Сортировка по нескольким столбцам по возрастанию
df_p.sort_values(['CategoryName', 'UnitPrice'])

,ProductID,ProductName,Product_Description,UnitPrice,CategoryID,CategoryName,Category_Description
23,24,Guaran? Fant?stica,12 - 355 ml cans,4.50,1,Beverages,Soft drinks. coffees. teas. beers. and ales
74,75,Rhonbrau Klosterbier,24 - 0.5 l bottles,7.75,1,Beverages,Soft drinks. coffees. teas. beers. and ales
33,34,Sasquatch Ale,24 - 12 oz bottles,14.00,1,Beverages,Soft drinks. coffees. teas. beers. and ales
66,67,Laughing Lumberjack Lager,24 - 12 oz bottles,14.00,1,Beverages,Soft drinks. coffees. teas. beers. and ales
69,70,Outback Lager,24 - 355 ml bottles,15.00,1,Beverages,Soft drinks. coffees. teas. beers. and ales
...,...,...,...,...,...,...,...
35,36,Inlagd Sill,24 - 250 g jars,19.00,8,Seafood,Seaweed and fish
29,30,Nord-Ost Matjeshering,10 - 200 g glasses,25.89,8,Seafood,Seaweed and fish
36,37,Gravad lax,12 - 500 g pkgs.,26.00,8,Seafood,Seaweed and fish
9,10,Ikura,12 - 200 ml jars,31.00,8,Seafood,Seaweed and fish
17,18,Carnarvon Tigers,16 kg pkg.,62.50,8,Seafood,Seaweed and fish

In [32]:
# Сортировка по двум столбцам, но первый столбец отсортируем по возрастанию, а второй по убыванию
df_p.sort_values(['CategoryName','UnitPrice'], ascending = [True, False]).head(30)

,ProductID,ProductName,Product_Description,UnitPrice,CategoryID,CategoryName,Category_Description
37,38,C?te de Blaye,12 - 75 cl bottles,263.50,1,Beverages,Soft drinks. coffees. teas. beers. and ales
42,43,Ipoh Coffee,16 - 500 g tins,46.00,1,Beverages,Soft drinks. coffees. teas. beers. and ales
1,2,Chang,24 - 12 oz bottles,19.00,1,Beverages,Soft drinks. coffees. teas. beers. and ales
0,1,Chai,10 boxes x 20 bags,18.00,1,Beverages,Soft drinks. coffees. teas. beers. and ales
34,35,Steeleye Stout,24 - 12 oz bottles,18.00,1,Beverages,Soft drinks. coffees. teas. beers. and ales
38,39,Chartreuse verte,750 cc per bottle,18.00,1,Beverages,Soft drinks. coffees. teas. beers. and ales
75,76,Lakkalikoori,500 ml,18.00,1,Beverages,Soft drinks. coffees. teas. beers. and ales
69,70,Outback Lager,24 - 355 ml bottles,15.00,1,Beverages,Soft drinks. coffees. teas. beers. and ales
33,34,Sasquatch Ale,24 - 12 oz bottles,14.00,1,Beverages,Soft drinks. coffees. teas. beers. and ales
66,67,Laughing Lumberjack Lager,24 - 12 oz bottles,14.00,1,Beverages,Soft drinks. coffees. teas. beers. and ales
74,75,Rhonbrau Klosterbier,24 - 0.5 l bottles,7.75,1,Beverages,Soft drinks. coffees. teas. beers. and ales
23,24,Guaran? Fant?stica,12 - 355 ml cans,4.50,1,Beverages,Soft drinks. coffees. teas. beers. and ales
62,63,Vegie-spread,15 - 625 g jars,43.90,2,Condiments,Sweet and savory sauces. relishes. spreads. an...
7,8,Northwoods Cranberry Sauce,12 - 12 oz jars,40.00,2,Condiments,Sweet and savory sauces. relishes. spreads. an...
60,61,Sirop d'erable,24 - 500 ml bottles,28.50,2,Condiments,Sweet and savory sauces. relishes. spreads. an...
5,6,Grandma's Boysenberry Spread,12 - 8 oz jars,25.00,2,Condiments,Sweet and savory sauces. relishes. spreads. an...
3,4,Chef Anton's Cajun Seasoning,48 - 6 oz jars,22.00,2,Condiments,Sweet and savory sauces. relishes. spreads. an...
4,5,Chef Anton's Gumbo Mix,36 boxes,21.35,2,Condiments,Sweet and savory sauces. relishes. spreads. an...
64,65,Louisiana Fiery Hot Pepper Sauce,32 - 8 oz bottles,21.05,2,Condiments,Sweet and savory sauces. relishes. spreads. an...
43,44,Gula Malacca,20 - 2 kg bags,19.45,2,Condiments,Sweet and savory sauces. relishes. spreads. an...
65,66,Louisiana Hot Spiced Okra,24 - 8 oz jars,17.00,2,Condiments,Sweet and savory sauces. relishes. spreads. an...
14,15,Genen Shouyu,24 - 250 ml bottles,15.50,2,Condiments,Sweet and savory sauces. relishes. spreads. an...
76,77,Original Frankfurter gr?ne Sobe,12 boxes,13.00,2,Condiments,Sweet and savory sauces. relishes. spreads. an...
2,3,Aniseed Syrup,12 - 550 ml bottles,10.00,2,Condiments,Sweet and savory sauces. relishes. spreads. an...
19,20,Sir Rodney's Marmalade,30 gift boxes,81.00,3,Confections,Desserts. candies. and sweet breads
61,62,Tarte au sucre,48 pies,49.30,3,Confections,Desserts. candies. and sweet breads
26,27,Schoggi Schokolade,100 - 100 g pieces,43.90,3,Confections,Desserts. candies. and sweet breads
25,26,Gumbar Gummibarchen,100 - 250 g bags,31.23,3,Confections,Desserts. candies. and sweet breads
48,49,Maxilaku,24 - 50 g pkgs.,20.00,3,Confections,Desserts. candies. and sweet breads
15,16,Pavlova,32 - 500 g boxes,17.45,3,Confections,Desserts. candies. and sweet breads

В параметр ascending передаем список из True и False, где True - сортировка по возрастанию, а False - сортировка по убыванию. Количество элементов в списке параметра ascending = [False, True] равно количеству сортируемых столбцов. Первый элемент списка задает правило сортировки для первого столбца, второй элемент для второго столбца и так далее.

In [33]:
# Если нужно отфильтровать строки, а затем отсортировать оставшиеся строки по возрастанию
df_p[df_p['CategoryName']=='Condiments'].sort_values('UnitPrice')

,ProductID,ProductName,Product_Description,UnitPrice,CategoryID,CategoryName,Category_Description
2,3,Aniseed Syrup,12 - 550 ml bottles,10.00,2,Condiments,Sweet and savory sauces. relishes. spreads. an...
76,77,Original Frankfurter gr?ne Sobe,12 boxes,13.00,2,Condiments,Sweet and savory sauces. relishes. spreads. an...
14,15,Genen Shouyu,24 - 250 ml bottles,15.50,2,Condiments,Sweet and savory sauces. relishes. spreads. an...
65,66,Louisiana Hot Spiced Okra,24 - 8 oz jars,17.00,2,Condiments,Sweet and savory sauces. relishes. spreads. an...
43,44,Gula Malacca,20 - 2 kg bags,19.45,2,Condiments,Sweet and savory sauces. relishes. spreads. an...
64,65,Louisiana Fiery Hot Pepper Sauce,32 - 8 oz bottles,21.05,2,Condiments,Sweet and savory sauces. relishes. spreads. an...
4,5,Chef Anton's Gumbo Mix,36 boxes,21.35,2,Condiments,Sweet and savory sauces. relishes. spreads. an...
3,4,Chef Anton's Cajun Seasoning,48 - 6 oz jars,22.00,2,Condiments,Sweet and savory sauces. relishes. spreads. an...
5,6,Grandma's Boysenberry Spread,12 - 8 oz jars,25.00,2,Condiments,Sweet and savory sauces. relishes. spreads. an...
60,61,Sirop d'erable,24 - 500 ml bottles,28.50,2,Condiments,Sweet and savory sauces. relishes. spreads. an...
7,8,Northwoods Cranberry Sauce,12 - 12 oz jars,40.00,2,Condiments,Sweet and savory sauces. relishes. spreads. an...
62,63,Vegie-spread,15 - 625 g jars,43.90,2,Condiments,Sweet and savory sauces. relishes. spreads. an...

In [34]:
df_o.head(10)

,OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,Freight
0,10248,VINET,5,1996-07-04 00:00:00.000,1996-08-01 00:00:00.000,1996-07-16 00:00:00.000,32.38
1,10249,TOMSP,6,1996-07-05 00:00:00.000,1996-08-16 00:00:00.000,1996-07-10 00:00:00.000,11.61
2,10250,HANAR,4,1996-07-08 00:00:00.000,1996-08-05 00:00:00.000,1996-07-12 00:00:00.000,65.83
3,10251,VICTE,3,1996-07-08 00:00:00.000,1996-08-05 00:00:00.000,1996-07-15 00:00:00.000,41.34
4,10252,SUPRD,4,1996-07-09 00:00:00.000,1996-08-06 00:00:00.000,1996-07-11 00:00:00.000,51.30
5,10253,HANAR,3,1996-07-10 00:00:00.000,1996-07-24 00:00:00.000,1996-07-16 00:00:00.000,58.17
6,10254,CHOPS,5,1996-07-11 00:00:00.000,1996-08-08 00:00:00.000,1996-07-23 00:00:00.000,22.98
7,10255,RICSU,9,1996-07-12 00:00:00.000,1996-08-09 00:00:00.000,1996-07-15 00:00:00.000,148.33
8,10256,WELLI,3,1996-07-15 00:00:00.000,1996-08-12 00:00:00.000,1996-07-17 00:00:00.000,13.97
9,10257,HILAA,4,1996-07-16 00:00:00.000,1996-08-13 00:00:00.000,1996-07-22 00:00:00.000,81.91

Выведите заказы, которые были оформлены в 1997 году. Затем отсортируйте заказы по весу в порядке убывания. Какой заказ OrderID имеет самый большой вес?

In [35]:
df_o[df_o.OrderDate.between ('1997-01-01', '1997-12-31')].sort_values('Freight',ascending = False )

,OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,Freight
292,10540,QUICK,3,1997-05-19 00:00:00.000,1997-06-16 00:00:00.000,1997-06-13 00:00:00.000,1007.64
443,10691,QUICK,2,1997-10-03 00:00:00.000,1997-11-14 00:00:00.000,1997-10-22 00:00:00.000,810.05
266,10514,ERNSH,3,1997-04-22 00:00:00.000,1997-05-20 00:00:00.000,1997-05-16 00:00:00.000,789.95
231,10479,RATTC,3,1997-03-19 00:00:00.000,1997-04-16 00:00:00.000,1997-03-21 00:00:00.000,708.95
364,10612,SAVEA,1,1997-07-28 00:00:00.000,1997-08-25 00:00:00.000,1997-08-01 00:00:00.000,544.08
...,...,...,...,...,...,...,...
451,10699,MORGK,3,1997-10-09 00:00:00.000,1997-11-06 00:00:00.000,1997-10-13 00:00:00.000,0.58
338,10586,REGGC,9,1997-07-02 00:00:00.000,1997-07-30 00:00:00.000,1997-07-09 00:00:00.000,0.48
167,10415,HUNGC,3,1997-01-15 00:00:00.000,1997-02-12 00:00:00.000,1997-01-24 00:00:00.000,0.20
261,10509,BLAUS,4,1997-04-17 00:00:00.000,1997-05-15 00:00:00.000,1997-04-29 00:00:00.000,0.15
396,10644,WELLI,3,1997-08-25 00:00:00.000,1997-09-22 00:00:00.000,1997-09-01 00:00:00.000,0.14

Выведите заказы, совершенные в 1997 году. Отсортируйте заказы в порядке возрастания по двум столбцам: ID клиента и вес заказа. Укажите минимальный вес заказа, который совершил клиент с ID ANTON.

In [38]:
df_o[df_o['OrderDate'].between('1997-01-01','1997-12-31') & (df_o['CustomerID']=='ANTON')].sort_values(['CustomerID','Freight'],ascending=[True, True])

,OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,Freight
429,10677,ANTON,1,1997-09-22 00:00:00.000,1997-10-20 00:00:00.000,1997-09-26 00:00:00.000,4.03
287,10535,ANTON,4,1997-05-13 00:00:00.000,1997-06-10 00:00:00.000,1997-05-21 00:00:00.000,15.64
434,10682,ANTON,3,1997-09-25 00:00:00.000,1997-10-23 00:00:00.000,1997-10-01 00:00:00.000,36.13
259,10507,ANTON,7,1997-04-15 00:00:00.000,1997-05-13 00:00:00.000,1997-04-22 00:00:00.000,47.45
325,10573,ANTON,7,1997-06-19 00:00:00.000,1997-07-17 00:00:00.000,1997-06-20 00:00:00.000,84.84